:root {
	--main-bg: hsl(222, 26%, 31%);
	--kp-bg: hsl(223, 31%, 20%);
	--result-bg: hsl(224, 36%, 15%);

	--toggleAndEqual: hsl(6, 63%, 50%);
	--equal-border: hsl(6, 70%, 34%);
	--delAndReset-bg: hsl(225, 21%, 49%);
	--delAndReset-shadow: hsl(224, 28%, 35%);
	--keys-bg: hsl(30, 25%, 89%);
	--delAndReset-text: hsl(0, 0%, 100%);
	--keys-shadow: hsl(28, 16%, 65%);
	--single-key-clr: hsl(221, 14%, 31%);
	--text-clr: hsl(0, 0%, 100%);
}