@use 'variables' as *;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'League Spartan', sans-serif;
	background-color: #000;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;

	.app {
		max-width: 375px;
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		padding: 1.5rem;
		min-width: 300px;
		background-color: var(--main-bg);
		color: var(--text-clr);

		&-top {
			display: flex;
			justify-content: space-between;

			&-theme {
				display: flex;
				align-items: center;

				h2 {
					text-transform: uppercase;
					font-size: 0.75rem;
					letter-spacing: 1px;
				}

				&-toggle {
					position: relative;
					width: 70px;
					height: 25px;
					background-color: var(--kp-bg);
					margin-left: 1.75rem;
					border-radius: 25px;
					cursor: pointer;

					.circle {
						position: absolute;
						top: 50%;
						left: 5px;
						width: 16px;
						height: 16px;
						background-color: var(--toggleAndEqual);
						border-radius: 50%;
						transform: translateY(-50%);
						transition: all 0.3s;
					}
					.active {
						left: 5px;
					}
					.active-1 {
						left: 25px;
					}
					.active-2 {
						left: 47px;
					}

					.theme-1,
					.theme-2,
					.theme-3 {
						position: absolute;
						top: -1rem;
						font-size: 0.75rem;
						font-weight: 700;
						color: var(--text-clr);
					}

					.theme-1 {
						left: 0.65rem;
					}
					.theme-2 {
						left: 1.85rem;
					}
					.theme-3 {
						left: 3.25rem;
					}
				}
			}
		}
		&-result-input {
			padding: 20px 15px;
			font-size: 1.75rem;
			font-size: 2.25rem;
			font-weight: 700;
			text-align: right;
			background-color: var(--result-bg);
			color: var(--text-clr);
			border: none;
			border-radius: 8px;
		}
		&-result-input:focus {
			outline: none;
		}
		&-result-input::placeholder {
			outline: none;
			color: var(--text-clr);
		}
		&-keys {
			padding: 1rem;
			display: flex;
			justify-content: center;
			gap: 0.75rem;
			flex-wrap: wrap;
			background-color: var(--kp-bg);
			border-radius: 8px;

			&-key {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 60px;
				height: 60px;
				flex-grow: 1;
				font-size: 1.75rem;
				text-transform: uppercase;
				background-color: var(--keys-bg);
				color: var(--single-key-clr);
				font-weight: 700;
				cursor: pointer;
				border: none;
				border-bottom: 4px solid var(--keys-shadow);
				border-radius: 8px;
			}
			&-key:nth-of-type(4),
			&-key:nth-of-type(17) {
				font-size: 1rem;
				background-color: var(--delAndReset-bg);
				color: var(--delAndReset-text);
				border-bottom: 4px solid var(--delAndReset-shadow);
			}

			&-key:nth-of-type(17),
			&-key:nth-of-type(18) {
				flex-grow: 1;
			}
			&-key:nth-of-type(18) {
				font-size: 1rem;
				background-color: var(--toggleAndEqual);
				color: var(--equal-clr);
				border-bottom: 4px solid var(--equal-border);
			}
		}
	}
}
